.main {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .cards {
        width: 70%;
        height: 10rem;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}