<div class="main">
    <div class="cards">
        <!-- by HTML
        <div class="card" (click)="sendText(first_text)">
            {{first_text}}
        </div>
        <div class="card" (click)="sendText(second_text)">
            {{second_text}}
        </div>
        <div class="card" (click)="sendText(third_text)">
            {{third_text}}
        </div>
        <div class="card" (click)="sendText(fourth_text)">
            {{fourth_text}}
        </div>
        -->
        <!-- by components -->
        <card-component [cardText]="first_text" (textEmitter)="onTextEmitter($event)"></card-component>
        <card-component [cardText]="second_text" (textEmitter)="onTextEmitter($event)"></card-component>
        <card-component [cardText]="third_text" (textEmitter)="onTextEmitter($event)"></card-component>
        <card-component [cardText]="fourth_text" (textEmitter)="onTextEmitter($event)"></card-component>
    </div>
    <result-component [text]="" *ngIf="divState">

    </result-component>
    <button (click)="changeDivState()">div</button>
</div>