.result {
    min-width: 100px;
    max-width: 100%;
    padding: 0 10px;
    min-height: 50px;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    user-select: none;
}